.background
{
   
}

.TopPart
{
    display: block;
    min-width: 100%;
    min-height: 510px;
}

.MiddlePart
{
    display: block;
    min-width: 100%;
    min-height: 510px;
}

.BottomPart
{
    display: block;
    min-width: 100%;
    min-height: 510px;
}

.TopThreeTourneyBox
{
    display: inline-block;
    min-height: 500px;
    width: 70%;
    border-bottom-style: double;
    border-color: black;
    background-color: white;
    
}

@media only screen and (max-width: 550px) {

    .TopThreeTourneyBox 
    {
        width: 100%;
        min-height: 500px;
        overflow-y: hidden;
    }
    #TopThree
    {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {

    .TopThreeTourneyBox 
    {
        width: 100%;
        min-height: 500px;
        overflow-y: hidden;
    }
    #TopThree
    {
        font-size: 25px;
    }
}

#TopThree
{
    color: black;
    display: block;
    float: left;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(182, 182, 182);
    
}

.TopThreePrizeTournament
{
    display: inline-block;
    min-height: 500px;
    width: 70%;
    border-bottom-style: double;
    border-color: black;
    background-color: white;
}

#TopPrize
{
    color: black;
    display: block;
    float: left;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(182, 182, 182);
}

@media only screen and (max-width: 550px) {

    .TopThreePrizeTournament
    {
        width: 100%;
        min-height: 500px;
        overflow-y: hidden;
    }
    #TopPrize
    {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {

    .TopThreePrizeTournament
    {
        width: 100%;
        min-height: 500px;
        overflow-y: hidden;
    }
    #TopPrize
    {
        font-size: 25px;
        
    }
}

.MyTourneyBox
{
    display: block;
    min-height: 300px;
    width: 20%;
    border-style: solid;
    border-color: black;
    background-color: white;
    float: right;
    overflow-x: hidden;
}

#MyTournament
{
    color: black;
    display: block;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(182, 182, 182);
}

@media only screen and (max-width: 550px) {
    .MyTourneyBox
    {
        display: block;
        width: 100%;
        min-height: 300px;
        overflow-y: hidden;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #MyTournament
    {
        float: left;
    }
   
}

@media only screen and (max-width: 400px) {
    .MyTourneyBox
    {
        display: block;
        width: 100%;
        min-height: 300px;
        overflow-y: hidden;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #MyTournament
    {
        float: left;
    }
   
}


.OngoingTournamentBox
{
    display: inline-block;
    min-height: 500px;
    width: 70%;
    border-bottom-style: double;
    border-color: black;
    background-color: white;
}

#OngoingTourney
{
    color: black;
    display: block;
    float: left;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(182, 182, 182);
}

@media only screen and (max-width: 550px) {

    .OngoingTournamentBox 
    {
        width: 100%;
        min-height: 500px;
        overflow-y: hidden;
    }
    #OngoingTourney
    {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {

    .OngoingTournamentBox 
    {
        width: 100%;
        min-height: 500px;
        overflow-y: hidden;
    }
    #OngoingTourney
    {
        font-size: 25px;
    }
}

.FriendBox
{
    display: block;
    min-height: 300px;
    width: 20%;
    border-style: solid;
    border-color: black;
    background-color: white;
    float: right;
    overflow-x: hidden;
}

#Friends
{
    color: black;
    display: block;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(182, 182, 182);
}

@media only screen and (max-width: 550px) {
    .FriendBox
    {
        display: block;
        width: 100%;
        min-height: 300px;
        overflow-y: hidden;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #Friends
    {
        float: left;
    }
   
}

@media only screen and (max-width: 400px) {
    .FriendBox
    {
        display: block;
        width: 100%;
        min-height: 300px;
        overflow-y: hidden;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #Friends
    {
        float: left;
    }
   
}

.RecentTourneyPost
{
    display: block;
    min-height: 300px;
    width: 20%;
    border-style: solid;
    border-color: black;
    background-color: white;
    float: right;
    overflow-x: hidden;
}

#Recent
{
    color: black;
    display: block;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(182, 182, 182);
}

@media only screen and (max-width: 550px) {
    .RecentTourneyPost
    {
        display: block;
        width: 100%;
        min-height: 300px;
        overflow-y: hidden;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #Recent
    {
        float: left;
    }
   
}

@media only screen and (max-width: 400px) {
    .RecentTourneyPost
    {
        display: block;
        width: 100%;
        min-height: 300px;
        overflow-y: hidden;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #Recent
    {
        float: left;
    }
   
}